/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  column-gap: 20px;
}

#resetButton {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color:   rgb(138, 105, 211);
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  grid-column: 1/3;
  justify-self: center;
}

#board {
  width: 335px;
  height: 360px;
  position: relative;
  grid-column: 1/3;
  justify-self: center;
}

#board #board-grid {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  row-gap: 6px;
  padding-top: 0.4em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.cell {
  height: 41px;
  width: 41px;
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Draw square around the cell */
  border: 1px solid #000;
  cursor: pointer;
}

